.banner-container {
  width: 100%;
  height: 70vh;
  display: flex;
}

.banner-subcontainer-one {
  width: 50%;
  height: 100%;
  background-color: #fcd7ae;
  display: flex;
  justify-content: flex-start;
}

.banner-content-container {
  max-width: 600px;
  height: 100%;
  margin-left: calc(100% - 600px);
  padding: 20px 40px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #353535;
}

.banner-content-container h1 {
  font-family: 'Lora', serif;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
}

.banner-content-container p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.banner-content-container button {
  width: fit-content;
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 400;
  background-color: #c72222;
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: .3s;
}

.banner-content-container button:hover {
  background-color: transparent;
  border-color: #c72222;
  color: #c72222;
}

.banner-subcontainer-two {
  width: 50%;
  height: 100%;
  background: url('../assets/bread-background.jpg');
  background-size: cover;
}

@media(max-width: 1195px) {
  .banner-container {
    height: auto;
    flex-direction: column;
  }

  .banner-subcontainer-one {
    width: 100%;
    height: auto;
    justify-content: center;
  }

  .banner-content-container {
    max-width: initial;
    margin: 0;
    padding: 20px;
  }

  .banner-content-container h1 {
    font-size: 40px;
  }

  .banner-content-container p {
    font-size: 16px;
  }
  
  .banner-content-container button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
  }

  .banner-subcontainer-two {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    order: -1;
  }
}