.benefits-contaner {
  width: 100%;
  height: 150px;
  background-color: #ebebeb;
}

.benefits-subcontainer {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.benefits-box {
  width: calc(100% / 4);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border-right: 1px solid #353535;
}

.benefits-box:last-child {
  border: none;
}

.benefits-box img {
  width: 50px;
  margin-bottom: 5px;
}

.benefits-box p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

@media(max-width: 1195px) {
  .benefits-contaner {
    height: auto;
  }

  .benefits-subcontainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .benefits-box {
    width: 265px;
    border: none;
    margin-bottom: 30px;
  }

  .benefits-box:last-child {
    margin-bottom: initial;
  }

  .benefits-box img {
    width: 35px;
    margin-bottom: 5px;
  }
  
  .benefits-box p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}
